import * as path from "path";
import { ILogConfig } from 'rh-utils';
import { IDownloadConfig } from 'rh-download';

const assets   = path.join(__dirname, "../../assets");
const baseUrl = "http://localhost:8080";
const mediaDir = path.join(__dirname, "../../media");
const logDir   = path.join(__dirname, "../../logs");

export const config = {
    api: {
        youtube: {
            "host": "https://www.googleapis.com",
            "key": "YOUTUBE_API_KEY",
            "basePath": "youtube/v3",
            "action": {
                "list": "videos",
                "search": "search"
            }
        }
    },
    data: {
        youtube: {
            defaultImage: {
                file: "yt_preview_image.png",
                path: assets
            }
        }
    },
    maria_db: {
        database: "raspberry_youtube",
        host: "127.0.0.1",
        password: "PASSWORD_MARIA_DB",
        username: "USERNAME_MARIA_DB"
    },
    download: {
        keepNameAsFilename: false,
        paths: {
            image: `${mediaDir}/image`,
            youtube: `${mediaDir}/video`
        }
    },
    log: {
        directories: {
            default: logDir
        }
    },
    web: {
        baseUrl,
        media: {
            base: `${baseUrl}/media`,
            image: `${baseUrl}/media/image`
        }
    }
}
